@use 'variables';

.contact-section {
  grid-area: contact;
  padding: 70px variables.$sm-content-padding 40px;
  margin-bottom: -(variables.$sm-row-gap);
  text-align: center;
}
.contact-input {
  display: block;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 20px;
  margin-bottom: 20px;
}
.contact-form button {
  font-family: "Rubik", sans-serif;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
}
@media only screen and (min-width: variables.$md-breakpoint) {
  .contact-section {
    padding-left: variables.$md-content-padding;
    padding-right: variables.$md-content-padding;
    margin-bottom: (-(variables.$md-row-gap));
  }
  .contact-section > * {
    width: 35%;
    margin: auto;
  }
  .contact-section h4 {
    margin-bottom: 40px;
  }
  .contact-section h2 {
    margin-bottom: 30px;
  }
  .contact-form {
    display: flex;
    justify-content: space-between;
  }
  .contact-input {
    width: 65%;
    margin: auto;
  }
  .contact-form button {
    width: 28%;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
  }
}
