@use 'variables';

.feature-section {
  text-align: center;
}
.feature-tabs {
  display: flex;
  flex-direction: column;
}
.tab-links {
  background-color: #fff;
  font-size: 18px;
  color: rgb(83, 83, 83);
}
.tab-links.active::after {
  content: " ";
  display: block;
  position: absolute;
  height: 15px;
  left: 36%;
  width: 27%;
  margin-left: auto;
  margin-right: auto;
  // border-bottom-width: 10px;
  border-bottom: 3px solid variables.$soft-red;
}
.tab-item {
  display: none;
}
.tab-item.show {
  display: inline;
}
.feature-bg {
}
