@use 'variables';

.footer-section {
  grid-area: footer;
  padding: 40px variables.$sm-content-padding;
}
.footer svg {
  display: block;
  margin: auto;
}
.footer-nav .nav-item {
  color: #ffffff;
  margin: auto;
}
.social-links {
  width: 50px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.social-links svg:first-child {
  margin-right: 20px;
}
@media only screen and (min-width: variables.$md-breakpoint) {
  .footer-section {
    padding-left: variables.$md-content-padding;
    padding-right: variables.$md-content-padding;
  }
}
