@use 'variables';

.container {
  width: 100vw;
  // padding-left: variables.$sm-content-padding;
  // padding-right: variables.$sm-content-padding;
  // margin-left: auto;
  // margin-right: auto;
  display: grid;
  row-gap: variables.$sm-row-gap;
  grid-template-areas:
    ". hero hero"
    ". feature ."
    ". download ."
    ". faq ."
    "contact contact contact"
    "footer footer footer";
  grid-template-columns: variables.$sm-content-padding minmax(0, 1fr) variables.$sm-content-padding;
}
@media only screen and (min-width: variables.$md-breakpoint) {
  .container {
    row-gap: variables.$md-row-gap;
    grid-template-columns: variables.$md-content-padding minmax(0, 1fr) variables.$md-content-padding;
  }
}
