@use 'variables';

.navbar {
  padding-left: variables.$sm-content-padding;
  padding-right: variables.$sm-content-padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  overflow: hidden;
}
.nav-links .active {
  height: 100vh;
  overflow: hidden;
}
.logo {
  z-index: 102;
}
.nav-links {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 101;
  display: none;
  align-items: center;
  flex-direction: column;
  background-color: variables.$transparent-dark-blue;
  color: #fff;
}
.nav-links.active {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.nav-item:first-child {
  margin-top: 150px;
}
.nav-item {
  padding-top: 20px;
  padding-bottom: 20px;
  // border-top: 0.5px solid variables.$grayish-blue;
  width: 80vw;
}
.nav-links hr {
  display: block;
}
.nav-links hr:first-child {
  margin-top: 100px;
}
.nav-item a {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.nav-item a:hover {
  text-decoration: underline;
}
.nav-item.cta a {
  margin-top: 15px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #fff;
  font-weight: 600;
}
.nav-item.cta a:hover {
  text-decoration: none;
  color: variables.$transparent-dark-blue;
  background-color: #fff;
}
.nav-toggler {
  cursor: pointer;
  z-index: 102;
}

@media only screen and (min-width: variables.$md-breakpoint) {
  .navbar {
    padding-left: variables.$md-content-padding;
    padding-right: variables.$md-content-padding;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  .nav-links {
    width: 50vw;
    position: static;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    color: #000;
  }
  .nav-item {
    padding-top: 0;
    padding-bottom: 0;
    // border-top: 0.5px solid variables.$grayish-blue;
    width: 100%;
  }
  .nav-item a {
    letter-spacing: 1px;
  }
  .nav-item:first-child {
    margin: 0;
  }
  .nav-links hr {
    display: none;
  }
  .nav-links hr {
    margin: 0;
  }
  .nav-toggler {
    display: none;
  }
  .nav-item.cta a {
    margin-top: 0;
    margin-right: 30px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 400;
    background-color: variables.$soft-red;
  }
  .nav-item.cta a:hover {
    text-decoration: none;
    color: variables.$soft-red;
    background-color: #fff;
    border: 1px solid variables.$soft-red;
  }
}
