@use 'variables';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  overflow: hidden;
}
.nav-links .active {
  height: 100vh;
  overflow: hidden;
}
.logo {
  z-index: 102;
}
.nav-links {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 101;
  display: none;
  align-items: center;
  flex-direction: column;
  background-color: variables.$transparent-dark-blue;
  color: #fff;
}
.nav-links.active {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.nav-item:first-child {
  margin-top: 150px;
}
.nav-item {
  padding-top: 20px;
  padding-bottom: 20px;
  // border-top: 0.5px solid variables.$grayish-blue;
  width: 80vw;
}
.nav-links hr:first-child {
  margin-top: 100px;
}
.nav-item a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.nav-item.cta a {
  margin-top: 15px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #fff;
  font-weight: 600;
}
.nav-item.cta a:hover {
  color: variables.$transparent-dark-blue;
  background-color: #fff;
}
.nav-toggler {
  cursor: pointer;
  z-index: 102;
}
